<?xml version="1.0"?> 
<launch> 
  <param name="base_frame" value="base_frame"/>
  
  <node pkg="tf" type="static_transform_publisher" name="laser_2_base_link" args="0.12 0 0.10 0 0 0 /base_link /laser 50"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_2_base_frame" args="0 0 0 0 0 0 /base_frame /base_link 50"/>

</launch>
